body {
    font-family: 'Playwrite GB S', sans-serif;
    background-color: #ffffff; 
    color: #000000; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #be7dfa;
    padding: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #9b59b6; 
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #be7dfa; 
    color: white; 
}

footer a {
    color: white; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline; 
}

#gatos-disponiveis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.gato {
    background-color: #fff; 
    border: 1px solid #9b59b6; 
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 220px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
}

.gato:hover {
    transform: scale(1.05);
}

.gato img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

form {
    display: flex; 
    flex-direction: column; 
    max-width: 400px; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #f9f9f9; 
    border: 1px solid #9b59b6;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

label {
    margin-bottom: 5px; 
}

input[type="text"],
input[type="email"],
input[type="number"] {
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1em; 
}

input[type="submit"] {
    margin-top: 10px;
}


input[type="submit"] {
    background-color: #9b59b6; 
    color: #ffffff; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 1em; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

input[type="submit"]:hover {
    background-color: #be7dfa;
    transform: scale(1.05); 
}

input[type="submit"]:active {
    background-color: #8e44ad; 
}

/* Estilização para mensagens de erro */
.error {
    color: red; 
    font-size: 0.9em;
    margin-top: -10px; 
    margin-bottom: 10px; 
}
